/* Own styling */
.links {
  display: flex;
  align-items: center;
  gap: 100px;
  padding: 25px 100px;
  font-size: 24px;
  background-color: rgb(247, 247, 247);
  border-bottom: solid 1px #e3e3e3;
  /* background-color: #131921; */
}

.navLink {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  line-height: 1.5;
}

.navLink:global.active {
  border-bottom: 2px solid;
}

.links :nth-child(2) {
  margin-left: auto;
}

.links :nth-child(3) {
  margin-right: auto;
}

.badge {
  font-size: 14px;
  color: #fff;
  background: rgb(25, 118, 210);
  border-radius: 50%;
  padding: 2px 7px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 0.9;
  display: none;
}

.badge.visible {
  display: inline;
}
