.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.95);
  color: white;
  font-weight: 500;
  padding: 30px 50px;
  position: sticky;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 2;
}

.links {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 24px;
  width: 100%;
}

.logo {
  font-size: 32px;
}

.navLink {
  text-decoration: none;
  color: inherit;
  line-height: 1.5;
}

.navLink:global.active {
  border-bottom: 2px solid;
}

.links :nth-child(2) {
  margin-left: auto;
}

.badge {
  font-size: 14px;
  color: #fff;
  background: rgb(25, 118, 210);
  border-radius: 50%;
  padding: 2px 7px;
  position: relative;
  left: -10px;
  top: -15px;
  opacity: 0.9;
  visibility: hidden;
}

.badge.visible {
  visibility: visible;
}
